<html>
    <head>
        <title>Պահանջագրեր</title>
    </head>
    <body>
        <div>
            <h1><a href="">Պահանջագրեր</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Ա կատեգորիա</a></h2>
            <p>Այստեղ պետք է ներմուծել միայն Ա տիպի պահանջագրերը:</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Բ կատեգորիա</a></h2>
            <p> Այստեղ պետք է ներմուծել միայն Ա տիպի պահանջագրերը:</p>
        </div>
    </body>
</html>